// set some vars
$font-size-base: 0.8rem;
$fa-font-path: "../node_modules/font-awesome/fonts";
// import the sheets we need
@import "bootstrap/scss/bootstrap";
@import "font-awesome/scss/font-awesome";

.card {
  margin-bottom: 2em
}

.page-section {
  padding-bottom: 2em;
}

.heading-block {
  margin-top: 3em;
  margin-bottom: 3em;
}

.full-height {
  height: 100vh;
}

.no-padding {
  padding-bottom: 0px;
}

.vertically-center {
  padding-top:25%;
}

.app-container {
  padding-top: 50px;
}

.admin-nav {
  margin-top: 50px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  .nav-link {
    font-weight: 500;
    color: #333;
    .fa {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
      margin-right:15px;
    }
  }
}